{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="mb-4 mt-3"> Hello, {{ app.user.name }}</h1>
    </div>
    <div>
        <h1 class="ml-2" >Your questions</h1>

        <table class="table w-75">
            <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question.name }}</td>
                    <td>
                        {{ include('question/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h1 class="ml-2">
            Your answers
        </h1>
        <table class="table w-75">
            <thead class="thead-light">
            <tr>
                <th>Answer</th>
                <th>Question</th>
                <th>Side</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for answer in answers %}
                <tr >
                    <td><div class="answer">
                            {{ answer.text }}
                        </div></td>
                    <td class="align-middle">
                        {{ answer.question.name }}
                    </td>
                    <td class="align-middle">
                        {% if answer.type == 1 %}
                            Positive
                        {% else %}
                            Negative
                        {% endif %}
                    </td>
                    <td class="align-middle">
                        <a class="action-button animate blue" href="{{ path('answer_edit', {'id': answer.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}