{% extends 'base.html.twig' %}

{% block title %}My Profile{% endblock %}

{% block body %}
    <div>
        <h1>
            Hello, {{ app.user.email }}
        </h1>
    </div>

    <div>
        <h1>My questions</h1>

        <table class="table">
            <tbody>

            {% for question in questions %}
                <tr>

                    <td>{{ question.name }}</td>
                    <td>
                        <a href="{{ path('question_edit', {'id': question.id}) }}">edit</a>
                    </td>
                    <td>
                        {{ include('question/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <h1>
            My answers
        </h1>
        {% for answer in answers %}
            <div class="border">
                <ul>
                    <li class="d-flex justify-content-center flex-column">
                        <div class="border answer">
                            {{ answer.text }}
                        </div>
                        <div>
                            for the question "{{ answer.question.name }}" in category
                            {% if answer.type == 1 %}
                            positive
                            {% else %}
                                negative
                                {% endif %}
                        </div>
                        <div>
                            <a href="{{ path('answer_edit', {'id': answer.id}) }}">Edit</a>
                        </div>
                    </li>
                </ul>
            </div>
        {% endfor %}

    </div>



{% endblock %}