{% extends 'base.html.twig' %}

{% block title %}Answer index{% endblock %}

{% block body %}

    <div class="text-center">
        <h1 class="mb-4 mt-3">All Answers</h1>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Text</th>
                <th>Question</th>
                <th>Posted by</th>
                <th>Type</th>
                <th>Rating</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.text }}</td>
                <td>{{ answer.question.name }}</td>
                {% if answer.question.user.name is defined %}
                <td>{{ answer.question.user.name }}</td>
                {% endif %}
                <td>{{ answer.type ? 'Yes' : 'No' }}</td>
                <td>{{ answer.rating }}</td>
                <td>
                    <a href="{{ path('answer_show', {'id': answer.id}) }}">show</a>
                    <a href="{{ path('answer_edit', {'id': answer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
