{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
<div class="text-center">
    <h1 class="mb-4 mt-3">All Questions</h1>
    <a class="action-button animate blue" href="{{ path('question_new') }}">Create new</a>
</div>
    <table class="table mt-5">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.name }}</td>
                <td>{{ question.rating }}</td>
                <td>
                    <a href="{{ path('question_show', {'id': question.id}) }}">show</a>
                    <a href="{{ path('question_edit', {'id': question.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
