<nav class="navbar nav navbar-expand-lg navbar-light top-navbar">
    <a class="text-light navbar-brand" href="{{ path("app_index") }}">Colloquium</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="text-light nav-link" href="{{ path("app_index") }}">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="text-light nav-link" href="{{ path("top") }}">Top</a>
            </li>
            <li class="nav-item">
                <a class="text-light nav-link" href="{{ path("rand") }}">Random</a>
            </li>


            <li class="nav-item">
                {% if app.user %}
                <a class="text-light nav-link" href="{{ path('profile') }}">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="text-light nav-link" href="{{ path('app_logout') }}"> Logout </a>
            </li>
                {% else %}
                    <li class="nav-item">
                <a class="text-light nav-link" href="{{ path('app_login') }}"> Login </a>
                    </li>
            <li class="nav-item">
                <a class="text-light nav-link" href="{{ path('app_register') }}">Sign in</a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="text-light nav-link" href="{{ path('admin_profile') }}">Admin Panel</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>