{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid justify-content-center">
        <div class="row">
            <div class="col text-center question m-4">
                <h1>
           Top questions
                </h1>
            </div>
        </div>

        <div class="row">

                    <div class="col-12 text-center d-flex flex-column">
                        <h2 class="mb-5">Here's a list of all the questions with the highest rating</h2>

                        <div class="d-flex justify-content-center flex-wrap">
                            {% for question in topAllQuestions %}
                                <div class="card w-75 mb-3">
                                    <img class="card-img-top question-little-poster" src="/uploads/{{ question.poster }}"
                                         alt="{{ question.name }}">
                                    <div class="card-body">
                                        <p class="card-text">
                                        <h4><a href="{{ path("one_question", {id: question.id}) }}">{{ question.name }}</a></h4>
                                        <p>
                                            Category : {{ question.category.name }}
                                        </p>
                                        <p>
                                            Rating : {{ question.rating }}
                                        </p>
                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

            </div>

        </div>

        <div class="row">


        </div>

    </div>
{% endblock %}